@import url("../../../styles.scss");

:host {
  position: sticky;
  top: 2rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--element-color);
  backdrop-filter: blur(0.5rem);
}

.add-task-input-container {
  height: 3rem;
  flex: 1;
}
